<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="categoryForm">
    <div class="form-container">
        <form th:action="@{/categories/save}" th:object="${category}" method="post">
            <input type="hidden" th:field="*{categoryId}">

            <div class="form-grid" style="grid-template-columns: 1fr 2fr;">
                <div class="form-group">
                    <label>Nombre de la Categoría</label>
                    <input type="text" th:field="*{categoryName}" placeholder="Ej. Acción, RPG..." required>
                </div>

                <div class="form-group">
                    <label>Descripción</label>
                    <textarea th:field="*{categoryDescription}" placeholder="Descripción breve..." rows="1"></textarea>
                </div>

                <input type="hidden" th:field="*{isActive}">
            </div>

            <div style="margin-top: 25px;">
                <button type="submit" class="btn-save">
                    [[${editMode} ? 'Guardar Cambios' : 'Crear Categoría']]
                </button>
                <a th:if="${editMode}" th:href="@{/categories}" class="btn-cancel">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>