<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Tienda - Detalles</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="app-container">
    <nav class="sidebar">
        <div class="brand">Tienda Admin</div>
        <ul class="nav-links">
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/users}">Usuarios</a></li>
            <li><a th:href="@{/category}">Categorías</a></li>
            <li><a th:href="@{/product}">Productos</a></li>
            <li><a th:href="@{/order}">Pedidos</a></li>
            <li><a th:href="@{/orderdetail}" class="active">Detalles</a></li>
        </ul>
        <div class="nav-footer">
            <a th:href="@{/logout}" class="btn-logout">Cerrar Sesión</a>
        </div>
    </nav>
    <main class="content">
        <div class="header-content">
            <h1 th:text="${editMode} ? 'Editando Detalle' : 'Desglose de Productos'"></h1>
        </div>
        <div th:replace="~{orderdetail-forms :: detailForm}"></div>

        <div class="form-container" style="padding: 0;">
            <table class="steam-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Orden ID</th>
                    <th>Producto</th>
                    <th>Cant.</th>
                    <th>P. Unitario</th>
                    <th>Subtotal</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="d : ${orderDetails}">
                    <td th:text="${d.detailId}"></td>
                    <td th:text="${d.order.orderId}"></td>
                    <td th:text="${d.product.productName}"></td>
                    <td th:text="${d.quantity}"></td>
                    <td th:text="'$' + ${d.unitPrice}"></td>
                    <td class="subtotal-text" th:text="'$' + ${d.subtotal}"></td>
                    <td style="display:flex; gap:15px;">
                        <a th:href="@{/orderdetail/edit/{id}(id=${d.detailId})}" style="color:var(--primary); font-weight:bold; text-decoration:none;">Editar</a>
                        <a th:href="@{/orderdetail/delete/{id}(id=${d.detailId})}" style="color:var(--danger); font-weight:bold; text-decoration:none;">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>